pip
git+https://github.com/Rapptz/discord.py@rewrite
git+https://github.com/DiscordBotList/DBL-Python-Library
psutil
asyncio
aiohttp
wikipedia
python-forecastio
geocoder
pyping
youtube_dl
heroku 
PyMySQL==0.7.9
SQLAlchemy==1.1.5
rethinkdb
