pip
git+https://github.com/Rapptz/discord.py@rewrite
git+https://github.com/DiscordBotList/DBL-Python-Library
git+https://github.com/rethinkdb/rethinkdb
psutil
asyncio
aiohttp
wikipedia
python-forecastio
geocoder
pyping
youtube_dl
heroku 
