git+https://github.com/Rapptz/discord.py@rewrite
git+https://github.com/DiscordBotList/DBL-Python-Library
psutil
asyncio
aiohttp
wikipedia
python-forecastio
geocoder
pyping
youtube_dl
postgres
asyncqlio
colorlog
psutil
random-cat
nmap
pythonwhois
retry
